body {
    margin: 0;
    overflow: hidden;
}

.editor-cursor {
    animation: cursor 1s ease infinite;
}

@keyframes cursor {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
