body {
    margin: 0;
    overflow: hidden;
    background-color: #F2F4F7;
}

.canvas-editor {
    width: 794px;
    height: 1123px;
    background-color: #ffffff;
    cursor: text;
    box-shadow: #9ea1a566 0 2px 12px;
    margin: auto;
    position: relative;
}

.editor-cursor {
    animation: cursor 1s ease infinite;
}

@keyframes cursor {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.editor-tools {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
}

.tool-btn {
    cursor: pointer;
    position: relative;
}

.tool-btn:hover {
    background-color: #e2e6ed;
}

.tool-btn img {
    user-select: none;
    -webkit-user-drag: none;
    display: block;
}

.tool-font-color {
    overflow: hidden;
}

.tool-font-color input {
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
